:root {
    --highlight-1: #388e3b59
}
body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="film"]::before,
body.filetree-note-icon .filename[data-note-icon="film"]::before,
body.links-note-icon .internal-link[data-note-icon="film"]::before,
body.backlinks-note-icon .backlink[data-note-icon="film"]::before {
  background-image: url(/img/film.svg);
}

body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="book"]::before,
body.filetree-note-icon .filename[data-note-icon="book"]::before,
body.links-note-icon .internal-link[data-note-icon="book"]::before,
body.backlinks-note-icon .backlink[data-note-icon="book"]::before {
  background-image: url(/img/book.svg);
}


body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="video"]::before,
body.filetree-note-icon .filename[data-note-icon="video"]::before,
body.links-note-icon .internal-link[data-note-icon="video"]::before,
body.backlinks-note-icon .backlink[data-note-icon="video"]::before {
  background-image: url(/img/video.svg);
}


body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="zh-history"]::before,
body.filetree-note-icon .filename[data-note-icon="zh-history"]::before,
body.links-note-icon .internal-link[data-note-icon="zh-history"]::before,
body.backlinks-note-icon .backlink[data-note-icon="zh-history"]::before {
  background-image: url(/img/zh-history.svg);
}

body {

    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    background-image: url(https://teresawatts.com/img/user/assets/bg.png);
   

    .content {
        font-size: 18px;
        font-family: PingFang SC, Hiragino Sans GB, Microsoft Yahei, WenQuanYi Micro Hei, sans-serif;
        color: #22272a;
        line-height: 32px;

    }

    mark {
   
        color: #0d141e !important;
        text-decoration-thickness: auto;
        background-clip: content-box !important;
        // background-image:url(https://weread-1258476243.file.myqcloud.com/web/wrwebnjlogic/image/reader_underline_bg1_m.da2e1651.png) !important;
        background-repeat:repeat-x !important;
        background-size:100% 100% !important;
        background: transparent;
    }

    h1 {
        color: black;
    }
}